/* Đặt nền và kiểu chữ tổng quát */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #4CAF50;
}

h2 {
    margin-top: 30px;
    color: #555;
    text-align: center;
}

/* Container của form thêm chủ đề */
.form-container {
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Bảng danh sách chủ đề */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

table thead tr {
    background-color: #4CAF50;
    color: white;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Liên kết hành động */
a {
    text-decoration: none;
    color: #fff;
}

/* Các nút chức năng */
.action-buttons a {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
    margin: 0 5px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.action-buttons .view-button {
    background-color: #43ccee;
}

.action-buttons .view-button:hover {
    background-color: #0056b3;
}

.action-buttons .edit-button {
    background-color: #FFC107;
}

.action-buttons .edit-button:hover {
    background-color: #e0a800;
}

.action-buttons .delete-button {
    background-color: #DC3545;
}

.action-buttons .delete-button:hover {
    background-color: #c82333;
}


#alert-message {
    transition: opacity 0.5s ease-in-out;
}

#alert-message.hide {
    opacity: 0;
}

